@using hive_admin_web.Services.Interfaces
@inject IAssetService AssetService;

<MudPaper Style="width: 100%">
  <MudStepper CenterLabels="true" ShowResetButton>
    <MudStep Title="Details">
      <MudGrid>
        <MudItem xs="12" sm="12">
          <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
              <MudTextField @bind-Value="_asset.Name" T="string" Label="Name" Required="true" RequiredError="Name is required!" />
              <MudTextField @bind-Value="_asset.Description" T="string" Label="Description" Required="true" RequiredError="Description is required!"  />
              <MudField T="string" Label="Type"/>
              <div class="d-flex">
                <MudRadioGroup T="string" @bind-Value="_asset.ImageSource" Required="true" RequiredError="Image Source is required!">
                  <MudRadio Value="@("Designer")">Designer</MudRadio>
                  <MudRadio Value="@("Supplied")">Artwork Supplied</MudRadio>
                </MudRadioGroup>
              </div>
            </MudForm>
          </MudPaper>
        </MudItem>
      </MudGrid>
    </MudStep>
    <MudStep Title="Variants">
      <MudGrid>
        <MudItem xs="12" sm="12">
          <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
              <MudTextField T="string" @bind-Value="_asset.OptionSetType1" Label="Variant Type 1 (e.g. Sex)" Required="true" />
              <MudTextField T="string" @bind-Value="_asset.OptionSet1" Label="Variant Type 1 List (e.g. 'Male,Female, Unisex')" Required="true" />
              @* <MudField T="string" Label="Requires Print File ?"/> *@
              @* <div class="d-flex"> *@
              @*   <MudRadioGroup T="string"  Required="true" RequiredError="Account type is required!"> *@
              @*     <MudRadio Value="@("true")">True</MudRadio> *@
              @*     <MudRadio Value="@("false")">False</MudRadio> *@
              @*   </MudRadioGroup> *@
              @* </div> *@
              <MudTextField T="string" @bind-Value="_asset.OptionSetType2" Label="Variant Type 2 (e.g. Size)" Required="true" />
              <MudTextField T="string" @bind-Value="_asset.OptionSet2"  Label="Variant Type 2 List (e.g. 'S,M,L')" Required="false"  />
              @* <MudField T="string" Label="Requires Print File ?"/> *@
              @* <div class="d-flex"> *@
              @*   <MudRadioGroup T="string"  Required="true" RequiredError="Account type is required!"> *@
              @*     <MudRadio Value="@("true")">True</MudRadio> *@
              @*     <MudRadio Value="@("false")">False</MudRadio> *@
              @*   </MudRadioGroup> *@
              @* </div> *@
              <MudTextField T="string" @bind-Value="_asset.OptionSetType3" Label="Variant Type 3 (e.g. Colour)" Required="true" />
              <MudTextField T="string" @bind-Value="_asset.OptionSet3"  Label="Variant Type 3 List (e.g. 'Red, Blue, Green')" Required="false"/>
              @* <MudField T="string" Label="Requires Print File ?"/> *@
              @* <div class="d-flex"> *@
              @*   <MudRadioGroup T="string"  Required="true" RequiredError="Account type is required!"> *@
              @*     <MudRadio Value="@("true")">True</MudRadio> *@
              @*     <MudRadio Value="@("false")">False</MudRadio> *@
              @*   </MudRadioGroup> *@
              @* </div> *@
            </MudForm>
          </MudPaper>
        </MudItem>
      </MudGrid>
    </MudStep>
    <MudStep Title="Views">
      <MudGrid>
        <MudItem xs="12" sm="12">
          <MudPaper Class="pa-4">
            <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
              <MudTextField T="string" @bind-Value="_asset.Views"  Label="View List (e.g. 'Front, Back, Sleeve, Cap')" Required="true" />
              <br/>
              <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="Create">Create</MudButton>
            </MudForm>
          </MudPaper>
        </MudItem>
      </MudGrid>
    </MudStep>
  </MudStepper>
</MudPaper>

@code {
  bool success;
  string[] errors = { };
  MudForm form;
  hive_admin_web.Models.CreateAsset _asset;

  [CascadingParameter]
  private MudDialogInstance MudDialog { get; set; }

  protected override async Task OnInitializedAsync()
  {
    _asset = new Models.CreateAsset();
  }

  private async Task Create()
  {
    await AssetService.CreateAssetAsync(_asset, "");
    MudDialog.Close(DialogResult.Ok("ProductCreated"));
  }

  private void Callback()
  {
    MudDialog.Close(DialogResult.Ok("ProductCreated"));
  }

}
